body{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    list-style-type: none;
    float: left;
    margin-left: 50px;
    
}

header{
    background-color: pink;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 50px 50px pink;
}

.logo{
    font-size: 40px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

nav li :hover{
    font-size: 30px;
    font-weight: 30px;
    
    color: white;
    border-radius: 1px;
}

p  {
    padding-top: 20px;
}

.pc{
    padding-top: 60px;
}
.sejajar {
    display: flex;
}

.udara {
    width: 300px;
    background-color: pink;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    
}
.air {
    width: 300px;
    background-color: pink;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.ubud{
    width: 300px;
    background-color: pink;
    height: 510px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    
}

.kuta{
    width: 300px;
    background-color: pink;
    height: 510px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    padding-left: 10px;
    margin-left: 10px;
}

.denpasar{
    width: 300px;
    background-color: pink;
    height: 510px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    padding-left: 10px;
    margin-left: 10px;
}
.jajar{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.babi{
    width: 300px;
    background-color: pink;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;

}
.betutu{
    width: 300px;
    background-color: pink;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-left: 10px;
}
.plecing{
    width: 300px;
    background-color: pink;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-left: 10px;
    
}
.foodjjr{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.babi a{
    text-decoration: none;
}
.plecing a{
    text-decoration: none;

}
.betutu a{
    text-decoration: none;
}

.babi img{
    border-radius: 7px;
}
.plecing img{
    border-radius: 7px;
}
.betutu img{
    border-radius: 7px;
}

@media screen and (max-width: 800px) {
    body{
        background-color: rgb(215, 149, 194);
    }
    .jajar{
        display: inline-block;
    } 
    .foodjjr{
        display: inline-block;
    }
    header{
        height: 100px;
    }
   
    .main-food {
        display: flex;
        justify-content: center;
    }
    .main2{
        display: flex;
        justify-content: center;  
    }
}

@media screen and (max-width: 500px) {
    body{
        background-color: bisque;
    }
    .logo{
        font-size: 2rem;
    }
    header{
        flex-direction: column;
        gap: 20px;
        height: 100px;
    }
    nav li{    
        margin-left: 20px;    
    }
    .air{
        height: 280px;
    }
    .udara{
        height: 240px;
    }
    .main-food {
        display: flex;
        justify-content: center;
    }
    .main2{
        display: flex;
        justify-content: center;  
    }

}

